<h1><%= cat_request.cat_id %>  request form</h1>

<form action="
<%= cat_request.persisted? ? cat_rental_request_url(cat_request) : cat_rental_requests_url %>"
method="post">
  <input type="hidden" name="_method"
  value="<%= cat_request.persisted? ? "patch" : "post" %>">

  <br>
  <label for="start_date">Starting date</label>
  <input id="start_date" type="date" name="cat_rental_request[start_date]" value="<%= cat_request.start_date%>">
  <br>

  <label for="end_date">Ending date</label>
  <input id="end_date" type="date" name="cat_rental_request[end_date]" value="<%= cat_request.end_date%>">
  <br>

  <label for="choose_cat">All of the cats:</label>
  <select id="choose_cat" name="cat_rental_request[cat_id]">
    <% Cat.all.each do |cat| %>
    <option value=" <%= cat.id %> "> <%= cat.name %> </option>
    <% end %>
  </select>
  <br>
  
  <input type="submit" value=" <%= cat_request.persisted? ? "Update your request" : "Rent" %> ">



</form>
