<h1>show page for <%= @cat.name %></h1>

<li>id: <%= @cat.id %></li>
<li>name: <%= @cat.name %></li>
<li>birth_date: <%= @cat.birth_date %></li>
<li>sex: <%= @cat.sex %></li>
<li>color: <%= @cat.color %></li>
<li>description:</li>
<p><%= @cat.description %></p>
<!-- <table>
  <thead>
    <tr>
      <th colspan="5"> attributes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>birth_date</td>
      <td>sex</td>
      <td>color</td>
    </tr>
    <tr>
      <%# <td><%= @cat.id %></td> %>
      <%# <td><%= @cat.name %></td> %>
      <%# <td><%= @cat.birth_date %></td> %>
      <%# <td><%= @cat.sex %></td> %>
      <%# <td><%= @cat.color %></td> %>
    </tr>
  </tbody>
</table> -->
